<a href="https://colab.research.google.com/github/Thrilok09/BASICS/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# Replace with your file name
df = pd.read_excel("raw_dataset_2_with_duplicates.xlsx")
df.head()

In [2]:
import numpy as pd
from google.colab import files
uploaded = files.upload()

Saving raw_dataset_2_with_duplicates.xlsx to raw_dataset_2_with_duplicates (1).xlsx

In [3]:
import pandas as pd
# Replace with your file name
df = pd.read_excel("raw_dataset_2_with_duplicates.xlsx")
df.head()

      Name  Gender         Country   Age   Join Date              Email
0    Alice    male             IND  25.0  01/01/2020  user0@example.com
1  Charlie       M            U.S.  30.0  16-01-2020                NaN
2    Frank  female  United Kingdom  25.0  01/31/2020  user2@example.com
3    Heidi  female              UK   NaN  02/15/2020                NaN
4    Grace  FEMALE            U.K.  25.0  01-03-2020  user4@example.com

missing values

In [4]:
df.isnull().sum()

Name          0
Gender        0
Country       0
Age          11
Join Date    15
Email        11
dtype: int64

In [8]:
df['Age'].fillna(df['Age'].mean(), inplace=True)        # Numeric column
df['Email'].fillna('unknown@example.com', inplace=True) # String column
df['Join Date'].fillna(df['Join Date'].mode()[0], inplace=True)  # Most common gender

/tmp/ipython-input-8-3651391784.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)        # Numeric column

In [9]:
df.fillna(method='ffill', inplace=True)  # Fill using previous row
df.fillna(method='bfill', inplace=True)  # Fill using next row

/tmp/ipython-input-9-2752174583.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill', inplace=True)  # Fill using previous row
/tmp/ipython-input-9-2752174583.py:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='bfill', inplace=True)  # Fill using next row

In [10]:
df.dropna(inplace=True)           # Drop all rows with any NaN
df.dropna(subset=['Join Date'])   # Drop rows where Join Date is missing

,Name,Gender,Country,Age,Join Date,Email
0,Alice,male,IND,25.000000,01/01/2020,user0@example.com
1,Charlie,M,U.S.,30.000000,16-01-2020,unknown@example.com
2,Frank,female,United Kingdom,25.000000,01/31/2020,user2@example.com
3,Heidi,female,UK,31.363636,02/15/2020,unknown@example.com
4,Grace,FEMALE,U.K.,25.000000,01-03-2020,user4@example.com
5,Charlie,female,USA,31.363636,16-03-2020,user5@example.com
6,Bob,Male,IND,30.000000,31-03-2020,user6@example.com
7,Judy,Male,India,31.363636,04/15/2020,user7@example.com
8,Judy,male,USA,35.000000,04/30/2020,user8@example.com
9,Frank,female,United Kingdom,40.000000,15-05-2020,user9@example.com
10,Charlie,M,UK,35.000000,30-05-2020,unknown@example.com
11,Alice,MALE,United States,30.000000,01-03-2020,user11@example.com
12,Heidi,Male,U.S.,35.000000,29-06-2020,user12@example.com
13,Frank,F,IND,31.363636,07/14/2020,user13@example.com
14,Frank,M,U.K.,35.000000,29-07-2020,user14@example.com
15,Heidi,male,United Kingdom,31.363636,08/13/2020,unknown@example.com
16,Alice,male,UK,31.363636,28-08-2020,user16@example.com
17,Grace,Female,United States,30.000000,09/12/2020,user17@example.com
18,Ivan,F,IND,31.363636,01-03-2020,user18@example.com
19,Bob,M,United Kingdom,40.000000,01-03-2020,unknown@example.com
20,David,FEMALE,India,25.000000,01-03-2020,user20@example.com
21,Judy,M,UK,25.000000,01-03-2020,user21@example.com
22,Ivan,MALE,U.S.,25.000000,26-11-2020,user22@example.com
23,Bob,female,UK,30.000000,01-03-2020,user23@example.com
24,Frank,FEMALE,India,25.000000,01-03-2020,user24@example.com
25,Judy,M,U.K.,30.000000,01/10/2021,user25@example.com
26,David,FEMALE,U.S.,35.000000,25-01-2021,user26@example.com
27,Bob,male,United States,35.000000,02/09/2021,user27@example.com
28,Alice,male,United Kingdom,35.000000,24-02-2021,user28@example.com
29,Grace,M,UK,25.000000,03/11/2021,unknown@example.com
30,Frank,Female,UK,25.000000,26-03-2021,unknown@example.com
31,Bob,M,United States,35.000000,01-03-2020,user31@example.com
32,Grace,Male,UK,40.000000,01-03-2020,user32@example.com
33,David,Male,U.K.,40.000000,05/10/2021,user33@example.com
34,Bob,female,U.K.,25.000000,05/25/2021,user34@example.com
35,Frank,Female,United States,30.000000,06/09/2021,unknown@example.com
36,Eve,MALE,India,40.000000,06/24/2021,user36@example.com
37,Charlie,male,United States,35.000000,09-07-2021,user37@example.com
38,Frank,MALE,UK,25.000000,24-07-2021,user38@example.com
39,Grace,F,UK,31.363636,01-03-2020,user39@example.com
40,David,F,United Kingdom,31.363636,01-03-2020,user40@example.com
41,Ivan,FEMALE,IND,30.000000,01-03-2020,user41@example.com
42,David,F,United Kingdom,35.000000,22-09-2021,user42@example.com
43,Ivan,M,UK,30.000000,10/07/2021,user43@example.com
44,Charlie,Male,U.K.,31.363636,01-03-2020,user44@example.com
45,Charlie,M,India,35.000000,01-03-2020,user45@example.com
46,Heidi,male,IND,30.000000,01-03-2020,user46@example.com
47,Charlie,Male,UK,40.000000,06-12-2021,unknown@example.com
48,Alice,M,U.S.,35.000000,21-12-2021,user48@example.com
49,Frank,Male,UK,40.000000,05-01-2022,user49@example.com
50,Alice,male,IND,25.000000,01/01/2020,user0@example.com
51,Charlie,M,U.S.,30.000000,16-01-2020,unknown@example.com
52,Frank,female,United Kingdom,25.000000,01/31/2020,user2@example.com
53,Heidi,female,UK,31.363636,02/15/2020,unknown@example.com
54,Grace,FEMALE,U.K.,25.000000,01-03-2020,user4@example.com

In [11]:
df.isnull().sum()

Name         0
Gender       0
Country      0
Age          0
Join Date    0
Email        0
dtype: int64

In [12]:
df.duplicated().sum()

np.int64(5)

In [13]:
print("Duplicates after removal:", df.duplicated().sum())

Duplicates after removal: 5

In [15]:
df['Gender'] = df['Gender'].str.strip().str.lower()
df['Gender'] = df['Gender'].replace({
    'm': 'male',
    'male': 'male',
    'f': 'female',
    'female': 'female',
    'fem': 'female',
    'man': 'male',
    'woman': 'female'
})

# Optional: Capitalize for neatness (Male, Female)
df['Gender'] = df['Gender'].str.capitalize()

In [16]:
df['Country'] = df['Country'].str.strip().str.lower()

# Replace inconsistent country names with standard ones
df['Country'] = df['Country'].replace({
    'usa': 'united states',
    'u.s.': 'united states',
    'united states': 'united states',
    'uk': 'united kingdom',
    'u.k.': 'united kingdom',
    'ind': 'india',
    'bharat': 'india'
})

# Optional: Capitalize country names (India, United States, etc.)
df['Country'] = df['Country'].apply(lambda x: ' '.join(word.capitalize() for word in x.split()))

In [17]:
print("Unique Genders:", df['Gender'].unique())
print("Unique Countries:", df['Country'].unique())

Unique Genders: ['Male' 'Female']
Unique Countries: ['India' 'United States' 'United Kingdom']

In [18]:
df[['Gender', 'Country']].head(10)

   Gender         Country
0    Male           India
1    Male   United States
2  Female  United Kingdom
3  Female  United Kingdom
4  Female  United Kingdom
5  Female   United States
6    Male           India
7    Male           India
8    Male   United States
9  Female  United Kingdom

In [19]:
df['Join Date'] = pd.to_datetime(df['Join Date'], errors='coerce')  # handles mixed formats & nulls
df['Join Date'] = df['Join Date'].dt.strftime('%d-%m-%y')

In [20]:
print(df['Join Date'].head())

0    01-01-20
1         NaN
2    31-01-20
3    15-02-20
4         NaN
Name: Join Date, dtype: object

In [21]:
df = pd.read_excel("raw_dataset_2_with_duplicates.xlsx")  # or read_csv if it's a CSV
print(df.columns)
df.columns = (
    df.columns
    .str.strip()                              # Remove leading/trailing spaces
    .str.upper()                              # Convert to UPPERCASE
    .str.replace(' ', '_')                    # Replace spaces with underscores
    .str.replace('[^A-Z0-9_]', '', regex=True)  # Remove special characters
)
print(df.columns)

Index(['Name', 'Gender', 'Country', 'Age', 'Join Date', 'Email'], dtype='object')
Index(['NAME', 'GENDER', 'COUNTRY', 'AGE', 'JOIN_DATE', 'EMAIL'], dtype='object')

In [22]:
print(df['AGE'].dtype)

float64

In [23]:
print(df['NAME'].dtype)
df['NAME'] = df['NAME'].astype(str)

object

In [24]:
print(df['GENDER'].dtype)
df['GENDER'] = df['GENDER'].astype(str)

object

In [25]:
print(df['COUNTRY'].dtype)

object

In [26]:
print(df['JOIN_DATE'].dtype)

object

In [27]:
print(df['EMAIL'].dtype)

object

In [28]:
print(df)

       NAME  GENDER         COUNTRY   AGE   JOIN_DATE               EMAIL
0     Alice    male             IND  25.0  01/01/2020   user0@example.com
1   Charlie       M            U.S.  30.0  16-01-2020                 NaN
2     Frank  female  United Kingdom  25.0  01/31/2020   user2@example.com
3     Heidi  female              UK   NaN  02/15/2020                 NaN
4     Grace  FEMALE            U.K.  25.0  01-03-2020   user4@example.com
5   Charlie  female             USA   NaN  16-03-2020   user5@example.com
6       Bob    Male             IND  30.0  31-03-2020   user6@example.com
7      Judy    Male           India   NaN  04/15/2020   user7@example.com
8      Judy    male             USA  35.0  04/30/2020   user8@example.com
9     Frank  female  United Kingdom  40.0  15-05-2020   user9@example.com
10  Charlie       M              UK  35.0  30-05-2020                 NaN
11    Alice    MALE   United States  30.0         NaN  user11@example.com
12    Heidi    Male            U.S.  35.0  29-06-2020  user12@example.com
13    Frank       F             IND   NaN  07/14/2020  user13@example.com
14    Frank       M            U.K.  35.0  29-07-2020  user14@example.com
15    Heidi    male  United Kingdom   NaN  08/13/2020                 NaN
16    Alice    male              UK   NaN  28-08-2020  user16@example.com
17    Grace  Female   United States  30.0  09/12/2020  user17@example.com
18     Ivan       F             IND   NaN         NaN  user18@example.com
19      Bob       M  United Kingdom  40.0         NaN                 NaN
20    David  FEMALE           India  25.0         NaN  user20@example.com
21     Judy       M              UK  25.0         NaN  user21@example.com
22     Ivan    MALE            U.S.  25.0  26-11-2020  user22@example.com
23      Bob  female              UK  30.0         NaN  user23@example.com
24    Frank  FEMALE           India  25.0         NaN  user24@example.com
25     Judy       M            U.K.  30.0  01/10/2021  user25@example.com
26    David  FEMALE            U.S.  35.0  25-01-2021  user26@example.com
27      Bob    male   United States  35.0  02/09/2021  user27@example.com
28    Alice    male  United Kingdom  35.0  24-02-2021  user28@example.com
29    Grace       M              UK  25.0  03/11/2021                 NaN
30    Frank  Female              UK  25.0  26-03-2021                 NaN
31      Bob       M   United States  35.0         NaN  user31@example.com
32    Grace    Male              UK  40.0         NaN  user32@example.com
33    David    Male            U.K.  40.0  05/10/2021  user33@example.com
34      Bob  female            U.K.  25.0  05/25/2021  user34@example.com
35    Frank  Female   United States  30.0  06/09/2021                 NaN
36      Eve    MALE           India  40.0  06/24/2021  user36@example.com
37  Charlie    male   United States  35.0  09-07-2021  user37@example.com
38    Frank    MALE              UK  25.0  24-07-2021  user38@example.com
39    Grace       F              UK   NaN         NaN  user39@example.com
40    David       F  United Kingdom   NaN         NaN  user40@example.com
41     Ivan  FEMALE             IND  30.0         NaN  user41@example.com
42    David       F  United Kingdom  35.0  22-09-2021  user42@example.com
43     Ivan       M              UK  30.0  10/07/2021  user43@example.com
44  Charlie    Male            U.K.   NaN         NaN  user44@example.com
45  Charlie       M           India  35.0         NaN  user45@example.com
46    Heidi    male             IND  30.0         NaN  user46@example.com
47  Charlie    Male              UK  40.0  06-12-2021                 NaN
48    Alice       M            U.S.  35.0  21-12-2021  user48@example.com
49    Frank    Male              UK  40.0  05-01-2022  user49@example.com
50    Alice    male             IND  25.0  01/01/2020   user0@example.com
51  Charlie       M            U.S.  30.0  16-01-2020                 NaN
52    Frank  female  United Kingdom  25.0  01/31/2020   user2@example.com
53    Heidi  female              UK   NaN  02/15/2020                 NaN
54    Grace  FEMALE            U.K.  25.0  01-03-2020   user4@example.com